<ion-header>
  <ion-toolbar class="compose-toolbar">
    <ion-buttons slot="start">
      <ion-back-button defaultHref="/menu-docente" text=""></ion-back-button>
    </ion-buttons>

    <ion-buttons slot="end">
      <ion-button fill="clear">
        <ion-icon name="attach-outline"></ion-icon>
      </ion-button>
      <ion-button fill="clear" (click)="enviarComunicado()">
        <ion-icon name="send-outline"></ion-icon>
      </ion-button>
      <ion-button fill="clear">
        <ion-icon name="ellipsis-vertical"></ion-icon>
      </ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content class="compose-content">
  <div class="compose-wrapper">
    <div class="compose-row">
      <span class="compose-label">From</span>
      <span class="compose-value">{{ from }}</span>
      <ion-icon name="chevron-down-outline"></ion-icon>
    </div>

    <div class="divider"></div>

    <div class="compose-row">
      <span class="compose-label">To</span>
      <ion-input
        [(ngModel)]="to"
        placeholder=""
        class="compose-input"
      ></ion-input>
      <ion-icon name="chevron-down-outline"></ion-icon>
    </div>

    <div class="divider"></div>

    <ion-input
      [(ngModel)]="subject"
      placeholder="Subject"
      class="compose-subject"
    ></ion-input>

    <div class="divider"></div>

    <ion-textarea
      [(ngModel)]="message"
      placeholder="Compose email"
      autoGrow="true"
      class="compose-textarea"
    ></ion-textarea>
  </div>
</ion-content>
