<ion-header>
  <ion-toolbar>
    <ion-buttons slot="">
      <ion-menu-button class="menu-button-externo"></ion-menu-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content>
  <div class="page-content">
    <div class="title">Histórico de Recados Enviados: <span class="counter">({{ comunicados.length }})</span></div>
    
    <div 
      class="comunicado-card" 
      *ngFor="let comunicado of comunicados; let i = index" 
      (click)="openComunicado(i)"
    >
      <div class="comunicado-avatar" [ngClass]="comunicado.type">{{ comunicado.emoji }}</div>
      <div class="comunicado-content">
        <div class="comunicado-header">
          <h3>{{ comunicado.title }}</h3>
        </div>
        <p>{{ comunicado.preview }}</p>
      </div>
      <div class="comunicado-meta">
        <span 
          class="comunicado-badge" 
          [ngClass]="comunicado.type" 
          *ngIf="comunicado.type === 'urgent' || comunicado.type === 'info'"
        >
          {{ comunicado.type === 'urgent' ? 'URGENTE' : 'INFO' }}
        </span>
        <span class="comunicado-date">{{ comunicado.date }}</span>
      </div>
    </div>
    
    <ion-button class="caneta" fill="clear" (click)="irParaEscrever()">
      <ion-icon [icon]="pencil"></ion-icon>
    </ion-button>
  </div>
</ion-content>
